<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.harrisonwjy.charitree">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".onboarding.OnboardingActivity"
            android:label="@string/app_name"
            android:parentActivityName=".user.MainActivity"
            android:theme="@style/Theme.AppCompat.ThemeLight" />
        <activity
            android:name=".setting.RegisterCMActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".campaignmanager.CampaignManagerActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.CampaignDetailActivity"
            android:label="@string/title_activity_campaign_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.createdonation.CreateDonationActivity"
            android:label="@string/title_activity_create_donation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".campaignmanager.CreatedCampaignDetailActivity"
            android:label="@string/title_activity_created_campaign_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.address.CreateAddressActivity"
            android:label="@string/title_activity_create_donation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.DonationDetailActivity"
            android:label="@string/title_activity_donation_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".campaignmanager.createcampaign.CreateCampaignActivity"
            android:label="Create Campaign">
        </activity>
        <activity android:name=".campaignmanager.DonorListActivity"
            android:label="Donor List"></activity>

        <activity android:name=".campaignmanager.CampaignDonationDetailActivity"
            android:label="Donation Detail"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".campaignmanager.AssignVolunteerActivity"
            android:label="Assign a Volunteer"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

    </application>

</manifest>